
ReadMoreTextView.xcodeproj/project.xcworkspace/xcuserdata/rajesh.xcuserdatad/UserInterfaceState.xcuserstate
ReadMoreTextView.xcodeproj/xcuserdata/rajesh.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
